<?php
    // Copyright 2018 Chuck Findlay
    // This software is licensed under the GNU Lesser General Public License v3.0

    // Here we define our SQL database
    define('DB_SERVER', 'localhost');
    define('DB_USERNAME', 'phpcloudcam');
    define('DB_PASSWORD', '');
    define('DB_DATABASE', 'phpcloudcam');

    // URL of our bootstrap CSS file
    define('BOOTSTRAP_CSS', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
    define('BOOTSTRAP_JS', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js');
    define('JQUERY_JS', 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js');
    define('FEATHER_JS', 'https://unpkg.com/feather-icons/dist/feather.min.js');
    define('CHART_JS', 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js');
    
    // Our database connection
    $db = mysqli_connect(DB_SERVER, DB_USERNAME, DB_PASSWORD, DB_DATABASE);

    // Path to our recordings used
    define('FILE_RECORDINGS', '../recordings');
?>